.debug #logo-mobile {
    width: 50px;
}

.debug #logo {
    width: 120px;
}

.debug header {
    
}

.debug header {
    height: 70px;
    background-color: darkcyan;
}

.debug .aside >div:first-child {
    height: calc(100vh - 80px);
}

.debug .aside  {
    background-color: darkmagenta;
}

.debug .main-header  {
    background-color: yellow;
}

.debug .main-header > div  {
    border: 1px dashed black;
}