.debug #logo-mobile, #class{
    width: 50px;
}

.debug #logo {
    width: 120px;
}

.debug #class{
    width: 40px;
}

.debug header .row {
    background-color: grey;
}

.debug header {
    height: 70px;
    background-color: darkcyan;
}

.debug .aside  {
    background-color: darkmagenta;
    max-height: calc(100vh - 70px);
}

.debug .main-header  {
    background-color: yellow;
}

.debug .main-header > div  {
    border: 1px dashed black;
}

.debug ul.list-group > li > img {
    width: 100%;
}

.debug .main-corpus {
    height: calc(100vh - 70px);
}