.debug #logo-mobile {
    width: 45px;
}

.debug #logo {
    width: 120px;
}

.debug #class{
    width: 40px;
}

ul.list-group > li > img {
    width: 100%;
    display: block;
}

header .row {
    background-color: grey;
}

header {
    height: 70px;
    background-color: rgb(242, 242, 242);
}

.barra {
    background-color: rgb(215, 215, 215);
}

.aside  {
    background-color: #061E34;
    background-image: url('../img/sidebar-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-height: calc(100vh - 70px);
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.main-corpus {
    height: calc(100vh - 70px);
}

/* .debug .main-header > div  {
    border: 1px dashed black;
} */

.rounded-text {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 3px 8px;
    border-radius: 20px;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: white;
}

